*.DS_Store


#ignore Carthage 
Carthage/

#ignore Swift Package Manager build artifacts
.build/

#ignore shared data
*.xcshareddata
*.xcuserdata
*.xcuserstate
timeline.xctimeline
contents.xcworkspacedata
contents.xcplayground
